.header {
	padding: 10px 100px;
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1900px) {
	.header {
		padding: 10px 50px;
	}

	.user__name {
		font-size: 12px;
		margin-left: 17px;
	}
}

.logoBlock__logo {
	width: 125px;
	flex: 1;
}

.header__user {
	display: flex;
	align-items: center;
}

.user__name {
	font-size: 18px;
	margin-left: 17px;
}

.header__navbar {
	display: flex;
	gap: 45px;
}

.navbar__link {
	font-size: 18px;
	font-weight: 500;
}
